<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Lesson Intro</title>
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../static/css/lesson.css" />
    <script src="../../static/js/lesson.js" defer></script>
</head>
<body>
  <div class="main-wrapper">
    <div class="intro-card">
      <div class="intro-close" onclick="showConfirm()">×</div>

      <div class="intro-progress">
        <div class="intro-progress-bar intro-progress-bar-40"></div>
      </div>


      <div class="intro-content">
        <h2 class="intro-title">P/E Ratio - The Price Tag 💰</h2>
        <img src="../../static/images/lessondetail2.png" alt="lesson image" class="intro-image" />
        <p class="intro-text">
          P/E = Price ÷ Earnings per share<br>
  If a stock costs $100 and the company earns $5 per share yearly, P/E = 20.<br>
  Quick rule: P/E under 15 = potentially cheap, P/E over 25 = potentially expensive.<br>
  But remember – growth companies often have higher P/Es!        </p>
        <button class="intro-button" onclick="goNext()">Next</button>
      </div>
    </div>
  </div>
<div class="overlay" id="confirmOverlay">
  <div class="confirm-box">
    <div class="confirm-text">
      <div class="confirm-title">Are you sure you want to stop<br>the lesson?</div>
      <div class="confirm-subtitle">Your progress will be lost</div>
    </div>
    <div class="confirm-divider"></div>
    <div class="confirm-actions">
      <button class="confirm-btn quit" onclick="quitLesson()">Quit</button>
      <div class="vertical-divider"></div>
      <button class="confirm-btn keep" onclick="closeConfirm()">Keep Learning</button>
    </div>
  </div>
</div>
  <script>
    function goNext() {
      window.location.href = "lesson5.html";
    }
  </script>
</body>
</html>
