<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>onboard3</title>
  <!-- 引入 Space Grotesk 字体 -->
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <script src="../../static/js/onboard.js"></script>
  <link rel="stylesheet" href="../../static/css/onboard.css" />
</head>

<body>
  <div class="main-wrapper">

    <div class="top-section">
      <!-- 返回按钮 -->
        <a href="onboard2.html" class="back-button">〈 </a>

      <div class="progress-bar">
        <div class="progress-fill3"></div>
      </div>

      <!-- 背景图 -->
      <img src="../../static/images/onboard3back.png" alt="Background" class="bg-image" />

      <img src="../../static/images/onboard3.png" alt="onboard3-image" class="onboard3-image" />
    </div>

    <!-- ✅ 第二部分：底部白色卡片 -->
    <div class="bottom-card">
      <div class="form-title">We don't just quess!<br>we show our confidence</div>
      <p class="intro-subtext">
        Each prediction includes a transparent confidence score,so you understand how strong the signal is before taking action.
      </p>
      <button id="nextBtn" class="primary-btn">Continue</button>
      <a href="#" class="skip-link">Skip Tutorial</a>
    </div>

  </div>
</body>
</html>
