<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>onboard1</title>
  <!-- 引入 Space Grotesk 字体 -->
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../../static/css/onboard.css" />
  
  <script src="../../static/js/onboard.js"></script>

</head>

<body>
  <div class="main-wrapper">

    <!-- ✅ 第一部分：顶部背景 + 牛博士 + 进度条 -->
    <div class="top-section">
      <!-- 返回按钮--> 
        <a href="{{ url_for('main.onboard0') }}" class="back-button">〈 </a>


      <!-- 进度条 -->
      <div class="progress-bar">
        <div class="progress-fill1"></div>
      </div>

      <!-- 背景图 -->
      <img src="../../static/images/onboard1back.png" alt="Background" class="bg-image" />

      <!-- 牛博士 -->
      <img src="../../static/images/onboard1.png" alt="Bull Character" class="bull-image" />
    </div>

    <!-- ✅ 第二部分：底部白色卡片 -->
    <div class="bottom-card">
      <div class="form-title">Smart Picks</div>
      <p class="intro-subtext">
        ‘Fresh market insights with your morning brew’ 
Receive a daily digest of key events, portfolio nudges, and what’s changed overnight all in under 30 seconds.
      </p>
      <button onclick="window.location.href='{{ url_for('main.onboard2') }}'" id="nextBtn" class="primary-btn">Continue</button>

      <a href="{{ url_for('main.discover')}}" class="skip-link">Skip Tutorial</a>
    </div>

  </div>
</body>
</html>
