<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Sign Up - Step 1</title>
  <link rel="stylesheet" href="../static/css/sign-up12.css" />
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap" rel="stylesheet">

</head>
<body>
  <div class="signup-screen">
    <!-- 左上角装饰图 -->
    <img src="../static/images/branding_01-13.png" alt="Star Decoration" class="top-icon" />
    
    <!-- 右下角装饰图 -->
    <img src="../static/images/branding_01-11.png" alt="Arrow Decoration" class="bottom-icon" />

    <!-- 中间内容 -->
    <h1>How would you like<br>us to call you?</h1>
    <input type="text" placeholder="Name" required />
    <button onclick="location.href='sign-up2.html'">Next</button>

  </div>
</body>
</html>
