<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Sign Up - Step 2</title>
  <link rel="stylesheet" href="../static/css/sign-up12.css" />
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="signup-screen">
    <!-- 右上角硬币装饰图（一个图片包含两个硬币） -->
    <img src="../static/images/sign-up2.png" alt="Coin Decoration" class="coin-icon" />

    <!-- 内容区域 -->
    <h1>Some basic info</h1>
    <input type="email" placeholder="Email" required />
    <input type="password" placeholder="Password" required />
     <button onclick="location.href='sign-up3.html'">Next</button>
  </div>
</body>
</html>
